$fontGothic: Century-Gothic, Helvetica, Tahoma, sans-serif;
$fontCode: Code-Light, Helvetica, Tahoma, sans-serif;
$bold: 700;
$regular:300;
$small:16px;
$medium:60px;
$large:70px;
$white: #fff;
$black: #000;
$yellow: #ffea00;
$grey: #424147;
$greySecond: #424146;
$backgroundGrey: #414146;
$strawberry: #ff343d;